.hero-section {
    margin-top: 60px;
}

.hero-section__content h2 {
    line-height: 150%;
    font-size: 2.4rem;
    text-transform: capitalize;
}

.hero-section__content h2 span {
    line-height: 150%;
}

.hero-section__image {
    max-width: 500px;
    margin-left: auto;
}

.hero-section__image img {
    border-radius: 6px;
    box-shadow: 1px 1px 25px rgba(211, 100, 255, .1);
    animation: ease 6s hero-image infinite;
}

.hero-section__btns {
    margin-top: 3rem;
}

/*RESPONSIVE PART*/
@media screen and (max-width: 1199px) {
    .hero-section__content h2 {
        line-height: 110%;
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 991px) {
    .hero-section__content h2 {
        font-size: 1.5rem;
    }

    .hero-section__content p {
        font-size: .9rem;
    }
}

@media screen and (max-width: 767px) {
    .hero-section__image {
        width: 100%;
        max-width: 100%;
        margin: 2rem 0 0 0;
    }
    .hero-section__btns {
        margin-top: 1.5rem;
    }
}
/*END RESPONSIVE PART*/

@keyframes hero-image {
    0% {
        box-shadow: 2px 2px 25px rgba(211, 100, 255, 0);
        transform: translateY(0);
    }

    50% {
        box-shadow: 2px 2px 25px rgba(211, 100, 255, .2);
        transform: translateY(-1rem);
    }

    100% {
        box-shadow: 2px 2px 25px rgba(211, 100, 255, 0);
        transform: translateY(0);
    }
}