.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #14141f9c;
    z-index: 99999991;
}

.modal {
    position: absolute;
    top: 50%;
    left: calc(50% - 1rem);
    transform: translate(-50%, -50%);
    background: var(--bs-body-color);
    border-radius: 6px;
    padding: 2rem;
    z-index: 99999999;
    width: 500px;
    max-width: calc(100% - 1rem);
    margin: 0 1rem;
    max-height: 100vh;
    overflow: auto;
}

.modal__input {}

.modal__wrapper .close {
    position: absolute;
    right: .5rem;
    top: .5rem;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.modal__wrapper .close:hover {
    opacity: .85;
}

.modal__money {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.modal__btn {
    margin: 0 auto;
}

/*RESPONSIVE PART*/
@media screen and (max-width: 575px) {
    .modal h6,
    .modal p {
        font-size: .8rem;
    }
    .modal__money {
        font-size: 1rem;
    }
}
/*END RESPONSIVE PART*/